.swiperItem {
	.newsItem {
		padding: 20rpx;
		border-bottom: 1px solid #aaa;
		display: flex;
		justify-content: space-between;

		.newsInfo {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0px 10rpx;
			width: calc(100% - 250rpx);

			.title {
				font-size: 16px;
				font-weight: bolder;
			}

			.source {
				font-size: 12px;
				color: #bbb;
			}
		}
		
		.activitybtn {
			margin: unset;
		}
		
		.afterBtn {
			color: #FFFFFF;
			background-color: rgb(153, 153, 153);
		}
	}
}